<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="first_robot">
    <xacro:macro name="base_link" params="length radius">
        <link name="base_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <material name="white">
                <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </visual>
        </link>
    </xacro:macro>
   
    <!-- 机器人IMU部分,惯性测量传感器 -->
    <xacro:macro name="imu_link" params="imu_name xyz">
         <link name="${imu_name}_link">
            <!--部件外观描述-->
            <visual>
                <!--沿着机器人几何中心的偏移和旋转描述-->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!--几何形状   -->
                <geometry>
                <!-- 这里可以选择不同的几何形状，如圆柱体、立方体等 ,现在是圆柱体--> 
                    <box size="0.02 0.02 0.02"/>
                    
                </geometry>
                <!--材质颜色描述-->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>
        </link>

        <!-- 机器人的关节,IMU与身体的连接 -->
        <joint name="${imu_name}_joint" type="fixed">
            <!--连接的父链接和子链接-->
            <parent link="base_link"/>
            <child link="${imu_name}_link"/>
            <!--关节位置描述-->
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:macro>
        
    <xacro:base_link length="0.12" radius="0.1"/>
    <xacro:imu_link imu_name="imu_up" xyz="0.0 0.0 0.03"/>
    <xacro:imu_link imu_name="imu_down" xyz="0.0 0.0 -0.03"/>
    <xacro:imu_link imu_name="imu_left" xyz="0.0 0.03 0.0"/>
    <xacro:imu_link imu_name="imu_right" xyz="0.0 -0.03 0.0"/>
    
</robot>